<% provide(:title, "About me") %>
<div class="jumbotron mt-4 alert alert-light offset-md-2 col-md-8 offset-md-2">

<h1 class="text-center mt-4">About Me</h1>
<div class="row justify-content-around mt-4">
  <div class="card border-danger mb-3 col-4" style="max-width: 20rem;">
    <div class="card-header"><strong>Profile</strong></div>
    <div class="card-body text-danger">
      <h5 class="card-title">SHIZUE</h5>
      <p class="card-text">Birthday: July 17th</p>
      <p>Blood Type: O</p>
      <p>Favorit: Sailor Moon</p>
      <p>Dream: Annual income 100 million yen</p>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs--gQ7LIo6nEQ6KDuuVbAP8iCi4XpeyAWaQ&usqp=CAU" 
           width="200" height="150">
    </div>
  </div>

  <div class="card" style="width: 18rem; col-4">
    <img src="https://img.fril.jp/img/317687134/l/895369537.jpg?1587374728">
      <div class="card-body">
        <p class="card-text">This is one of my friend named GOMA. 
        I met her at Osaka 2 years ago and bought without thinking. Whenever I see her face, I feel relax.</p>
      </div>
  </div>
</div>
