<% provide(:title, "Contact Us") %>
<div class="jumbotron mt-4 alert alert-info offset-md-2 col-md-8 offset-md-2">
  <h1 class="text-center">Let's communicat!!</h1>
    <p class="text-center">If you are interested in my faverits, please contact me!!</p>

  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Comment</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>
  <img class="d-block mx-auto" src="https://www.fashion-press.net/img/news/21449/sailormoon_add_4.jpg" width="500" height="300">
</div>
  

