<% provide(:title, 'Home') %>
<% if logged_in? %>
  <div class="row d-flex justify-content-center mt-4">
    <aside class="span col-3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside> 
    <div class="col-6">
      <h3>Micropost</h3>
      <%= render 'shared/feed' %> 
    </div>     
<% else %>  
  <div class="jumbotron mt-4 alert alert-warning offset-md-2 col-md-8 offset-md-2">
    <h1 class="text-center"><strong>SHIZUE's ROOM</strong></h1>
    <p class="text-center">Welcome to my room!</p>
    <div class="row">
    <img class="col-4"
         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAFg-daFel57Ape9ZNEWZ_GMhkpdep0xrk0A&usqp=CAU"
         width="200" height="300">
    <img class="d-block mx-auto col-4" 
         src="https://i.pinimg.com/236x/18/b4/48/18b4488baf802be319f4ffb1c429a6a3--sailor-moon-manga-naoko-takeuchi.jpg" 
         width="200" height="300">
    <img class="col-4"
         src="https://i.pinimg.com/originals/24/e6/1a/24e61a944f590eadcc727f600da40156.jpg"
         width="200" height="300">
  </div>
  <div class="text-center mt-3">
    <h1>Let's OTAKU activity!!</h1>
  </div>
<% end %>                 